@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: BeVietnamPro;
  src: url("../public/fonts/BeVietnamPro-Bold.ttf");
}

@font-face {
  font-family: BeVietnamPro;
  src: url("../public/fonts/BeVietnamPro-Regular.ttf");
}

@layer base {
  * {
    font-family: BeVietnamPro;
  }
}