@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: BeVietnamPro;
  font-weight: 600;
  src: url("/fonts/BeVietnamPro-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: BeVietnamPro;
  font-weight: 300;
  src: url("/fonts/BeVietnamPro-Light.ttf") format("truetype");
}

@layer base {
  * {
    font-family: BeVietnamPro;
    color: white;
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1280px !important;
    }
  }
}

@layer components {
  .card {
    @apply rounded-xl p-5 bg-gradient-to-r from-darkgray to-darkblue;
  }
}
